h3.head 功能详情

p #[input(type="text" placeholder="添加")]
p #[input(type="text" placeholder="/a/b/c")]
p
  input(type="radio")
  | get
  input(type="radio")
  | post
p 请求参数
textarea
p
  input(type="text" placeholder="名称")
  input(type="text" placeholder="key")
  input(type="text" placeholder="value")
p
  input(type="text" placeholder="名称")
  input(type="text" placeholder="key")
  input(type="text" placeholder="value")
p
  input(type="text" placeholder="名称")
  input(type="text" placeholder="key")
  input(type="text" placeholder="value")

p 响应结果
textarea


p 约束条件
p mocha
p 造数据












