@import (less) '../bower_components/normalize-css/normalize.css';
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  padding: 3em;
}

.path {
  a {
    color: blue;
    margin: 0 3px;
  }
}

.btns {
  margin: 1.5em 0;
}

.list {
  display: table;
  .item {
    display: table-row;
    line-height: 1.4em;
    span {
      display: table-cell;
      padding-right: 1em;
    }
    .a {
      cursor: move;
    }
    &:hover {
      background: #eee;
    }
  }
}
